*.o
*.obj
*.exe
*.out
*.pyd
*.lib
*.cmake
*.mod
*.dylib
*.dll
*.dll.a
*.so
*.a

.idea
.vscode

build/
*.egg-info

.DS_Store

dist/

__pycache__

generator*

pywrapper/src/pyecx/ecx*.h
pywrapper/src/pyecx/*.dylib
pywrapper/src/pyecx/*.so
pywrapper/src/pyecx/*.dll
pywrapper/src/pyecx/*.dll.a
pywrapper/wheelhouse/