*.o
*.obj
*.exe
*.dll
*.out
*.so
*.a
*.pyd
*.lib
*.cmake
*.mod

.idea
.vscode

build/
*.egg-info

.DS_Store

dist/

__pycache__

generator*

pywrapper/src/pyecx/ecx*.h
pywrapper/src/pyecx/*.dylib
pywrapper/src/pyecx/*.so
pywrapper/src/pyecx/*.dll
pywrapper/src/pyecx/*.dll.a
pywrapper/wheelhouse/
