name = "ecx"
version = "VERSION"
license = "MIT"
author = "Milan Skocic"
maintainer = "milan.skocic@icloud.com"
copyright = "Copyright, Milan Skocic"
categories  =["Science"]
keywords = ["electrochemistry", "impedance", "photoelectrochemistry"]
homepage = "https://milanskocic.github.io/ecx/index.html"

[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"

[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false

[dependencies]
stdlib = "*"
codata = { git="https://github.com/MilanSkocic/codata.git" }
ciaaw = { git="https://github.com/MilanSkocic/ciaaw.git" }
FLAP = {git="https://github.com/szaghi/FLAP.git", tag="v1.2.5"}

[install]
library = true

[[executable]]
name = "ecxcli"
main = "main.f90"

[[example]]
name="example_in_f"
main="example.f90"

[[example]]
name="example_in_c"
main="example.c"

[[test]]
name="test_core"
main="test_core.f90"

[[test]]
name="test_eis"
main="test_eis.f90"

[[test]]
name="test_eis_capi"
main="test_eis_capi.c"

[[test]]
name="test_kinetics"
main="test_kinetics.f90"

