/*! \mainpage C Library for Electrochemists 
 *
 * \section Introduction
 *
 * General explanation
 *
 * \f[ j \cdot S = j_0 \cdot \left[ \exp \left(\frac{\alpha_a}{RT/F} \cdot \eta\right) - \exp\left(-\frac{\alpha_c}{RT/F} \cdot \eta\right) \right] \f]
 *
 * \pure test
 * 
 * \section  Installation
 *
 * `eleCtroX` is developped for Linux/Unix platforms only. There is no warranty that the code can be compiled on Windows.
 *
 * \subsection Build
 *
 * \code{.sh}
 *      make
 * \endcode
 *
 * \subsection Run tests 
 * \code{.sh}
 *      make runtests
 * \endcode
 * Example of a snippet: \snippet example1.c call bv
 *
 * \page newpage Second page
 *
 * hhggff
 *
 */

